<!-- <footer class="footer bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-5 text-uppercase text-light mb-0">
                    <strong>Ng-News</strong>
                </h1>
                <div class="title-underline bg-primary">
                </div>
                <p class="text-white lead font-italic my-2">Web App built with Angular 8, Bootstrap and Gaurdian API</p>
            </div>
        </div>
    </div>
</footer> -->
<footer id="main-footer" class="footer bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            
            <h6>&copy; 2020 all rights owned by Openweather<br> coded by <a href="#">OurTeam</a></h6><br>
            <a id="lin" href="#" class="fa fa-facebook"></a>
            <a id="lin" href="#" class="fa fa-twitter"></a>
            <a id="lin" href="#" class="fa fa-instagram"></a>
            <a id="lin" href="#" class="fa fa-youtube"></a>
            <a id="lin" href="#" class="fa fa-pinterest"></a>
        </div>
        <div class="col-md-2">
          <h5>Our products</h5>
          <ul class="list-unstyled">
            <li><a href="">Features</a></li>
            <li><a href="">Solutions</a></li>
            <li><a href="">Plan</a></li>
            <li><a href="">Sign-in</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Our Team</h5>
          <ul class="list-unstyled">
            <li><a href="">Highlights</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Investors</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Our Things</h5>
          <ul class="list-unstyled">
            <li><a href="">Jobs</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">others</a></li>
            <li><a href="">Sign-in</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
