<div class="bg-light">
    <div id="carouselExampleCaptions" data-ride="carousel" style="padding: 100px;">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/images/background.jpg" class="d-block w-100" alt="...">
                <div class="carousel-content">
                    <h1> Weather </h1>
                    <h2>
                        Know the weather of your city
                    </h2>
                    <div id="register">
                        <a class="btn btn-light btn-lg register-btn" routerLink="/user/registration">Register for
                            free</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>